<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.ConfigMainTableMapper">
    
    <resultMap type="ConfigMainTable" id="ConfigMainTableResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
    </resultMap>

    <sql id="selectConfigMainTableVo">
        select id, name, url from config_main_table
    </sql>

    <select id="selectConfigMainTableList" parameterType="ConfigMainTable" resultMap="ConfigMainTableResult">
        <include refid="selectConfigMainTableVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectConfigMainTableById" parameterType="Long" resultMap="ConfigMainTableResult">
        <include refid="selectConfigMainTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertConfigMainTable" parameterType="ConfigMainTable" useGeneratedKeys="true" keyProperty="id">
        insert into config_main_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
         </trim>
    </insert>

    <update id="updateConfigMainTable" parameterType="ConfigMainTable">
        update config_main_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteConfigMainTableById" parameterType="Long">
        delete from config_main_table where id = #{id}
    </delete>

    <delete id="deleteConfigMainTableByIds" parameterType="String">
        delete from config_main_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>