<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hostel.mapper.BaseRoomAssetsMapper">
    
    <resultMap type="BaseRoomAssets" id="BaseRoomAssetsResult">
        <result property="id"    column="id"    />
        <result property="roomId"    column="room_id"    />
        <result property="assetsId"    column="assets_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectBaseRoomAssetsVo">
        select id, room_id, assets_id, start_date, end_date, is_deleted from base_room_assets
    </sql>

    <select id="selectBaseRoomAssetsList" parameterType="BaseRoomAssets" resultMap="BaseRoomAssetsResult">
        <include refid="selectBaseRoomAssetsVo"/>
        <where>  
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="assetsId != null "> and assets_id = #{assetsId}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="endDate != null "> and end_date = #{endDate}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectBaseRoomAssetsById" parameterType="Long" resultMap="BaseRoomAssetsResult">
        <include refid="selectBaseRoomAssetsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaseRoomAssets" parameterType="BaseRoomAssets" useGeneratedKeys="true" keyProperty="id">
        insert into base_room_assets
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">room_id,</if>
            <if test="assetsId != null">assets_id,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">#{roomId},</if>
            <if test="assetsId != null">#{assetsId},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateBaseRoomAssets" parameterType="BaseRoomAssets">
        update base_room_assets
        <trim prefix="SET" suffixOverrides=",">
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="assetsId != null">assets_id = #{assetsId},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseRoomAssetsById" parameterType="Long">
        delete from base_room_assets where id = #{id}
    </delete>

    <delete id="deleteBaseRoomAssetsByIds" parameterType="String">
        delete from base_room_assets where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>